source/PySide6/joel_notes.txt
source/PySide6/_stylesheet.qss
Cross_Platform/*
.idea/*
Image_Libs/*
source/*.jpg
source/*.JPG
source/*.tif
source/*.tiff
source/*.png
source/*.xcf
source/*.mir
source/*.txt
source/*.json
source/*.sh
versions/*
tests/*
data/*
*.tar
*.class
remod_old
fftw
jpeg
png
tiff
gbm
libraries
*.jpg
*.jpeg
*.png
*.pyc
*.json
source/.DS_Store
source/PySide6/.DS_Store
source/PySide6/afm_1.dat
source/PySide6/alignem2.py
source/PySide6/alignem_swift2.py
source/PySide6/bias_det_1.dat
source/PySide6/bias_rot_1.dat
source/PySide6/bias_scale_x_1.dat
source/PySide6/bias_scale_y_1.dat
source/PySide6/bias_skew_x_1.dat
source/PySide6/bias_x_1.dat
source/PySide6/bias_y_1.dat
source/PySide6/c_afm_1.dat
source/PySide6/idle.py
source/PySide6/out/
source/PySide6/snr_1.dat
source/PySide6/daisy_logs/
**/.DS_Store
