**/messages.log
*.egg-info
**/__pycache__
**/.DS_Store
**/.idea
.DS_Store
joel_notes.txt
sandbox/
sandbox/*
keep.JPG
best.JPG
newtarg.JPG
**/source_tracker.py
.idea/
src/lib/bin_darwin/*


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

build/*
dist/*
