[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python-headless = "*"
scipy = "*"
psutil = "*"
imagecodecs = "*"
scikit-image = "*"
zarr = "*"
tifffile = "*"
neuroglancer = "*"
"funlib.geometry" = {git = "https://github.com/funkelab/funlib.geometry.git"}
"funlib.math" = {git = "https://github.com/funkelab/funlib.math.git"}
pyqt6 = "*"
pyqt6-webengine = "*"
pyside2 = "*"
qtpy = "*"
qtawesome = "*"
pyqt5 = "*"
pyqtwebengine-qt5 = "*"
pyqtwebengine = "*"
tqdm = "*"
dill = "*"
blosc = "*"
pyside6 = "*"
pyqtgraph = "*"
jupyter-client = "==6.1.12"
qtconsole = "*"

[dev-packages]

[requires]
python_version = "3.9"
