[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
psutil = "*"
opencv-python-headless = "*"
pillow = "*"
zarr = "*"
tifffile = "*"
imagecodecs = "*"
neuroglancer = "*"
qtconsole = "*"
pyqt5 = "*"
pyqtwebengine = "*"

[dev-packages]

[requires]
python_version = "3.9"
