pyqtgraph~=0.12.4
qtpy~=2.2.0
psutil~=5.9.1
numpy~=1.22.4
zarr~=2.12.0
qtawesome~=1.1.1
neuroglancer~=2.30
napari~=0.4.16
qimage2ndarray~=1.9.0
pillow~=9.2.0
pyqt6~=6.3.1
requests~=2.28.1
tifffile~=2022.8.12
imagecodecs~=2022.8.8
tqdm~=4.64.0
jinja2~=3.1.2
numpydoc~=1.4.0
pydantic~=1.10.2
superqt~=0.3.5
npe2~=0.6.1
typing_extensions~=4.3.0
imageio~=2.21.3
vispy~=0.10.0
magicgui~=0.5.1
wrapt~=1.14.1
rich~=12.5.1
packaging~=21.3
appdirs~=1.4.4
scipy~=1.9.1
toolz~=0.12.0
yaml~=0.2.5
pyyaml~=6.0
pandas~=1.4.4
scikit-image~=0.19.3
pint~=0.19.2
cachetools~=5.2.0
jsonschema~=4.15.0
numcodecs~=0.10.2
setuptools~=65.3.0