numpy~=1.22.4
matplotlib~=3.5.2
psutil~=5.9.1
daisy~=1.0
scikit-image~=0.19.3
dask~=2022.6.0
neuroglancer~=2.27
QtAwesome~=1.1.1
qtpy~=2.1.0
pillow~=9.1.1
tqdm~=4.64.0
zarr~=2.11.3
numcodecs~=0.9.1
tifffile~=2022.5.4
imagecodecs~=2022.2.22
scipy~=1.8.1
PySide6~=6.3.0